attrs==22.1.0
boxsdk==3.5.0
certifi==2022.9.24
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1666754804902/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
charset-normalizer==2.1.1
config-box==0.2.1600119743
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
docopt==0.6.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
HiYaPyCo==0.5.1
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1666911457395/work
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1656187504160/work
numpy==1.23.5
pipreqs==0.4.11
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
pre-commit @ file:///Users/runner/miniforge3/conda-bld/pre-commit_1666968236906/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
python-box==3.4.5
python-dateutil==2.8.2
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772577178/work
requests==2.28.1
requests-toolbelt==0.10.1
reusables==0.9.6
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1666827364517/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1666807983587/work
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
sklearn==0.0.post1
threadpoolctl==3.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
ukkonen @ file:///Users/runner/miniforge3/conda-bld/ukkonen_1666949121928/work
urllib3==1.26.12
virtualenv @ file:///Users/runner/miniforge3/conda-bld/virtualenv_1668364328215/work
yarg==0.1.9
