version: 2.1 

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.11.0"
    steps:
      - checkout
      - run:
          pip install -r requirements.txt 
          python test_unitest.py

    test:
      working_directory: ~/circleci-python
      docker:
        - image: "circleci/python:3.11.0"
      steps:
        - checkout
        - run: python test_unitest.py 

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build