version: 2
jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.8.1-buster"
    steps:
      - checkout
      - run: python3 test_unittest.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.8.1-buster
    steps:
      - checkout
      - run: python3 test_unittest.py

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build